@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@utility container {
  margin-inline: auto;
  padding-inline: 16px;

  @variant sm {
    padding-inline: 20px;
  }
  @variant md {
    padding-inline: 20px;
  }
  @variant lg {
    padding-inline: 40px;
  }
  @variant xl {
    padding-inline: 60px;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
